doctype html
html
    head
        link(href='http://www.ons.gov.uk/assets/css/main.css', rel='stylesheet', type="text/css")
    body
        block page
        script(src='http://www.ons.gov.uk/assets/js/main.js')
