extends ./base.jade

block page
    .col.col--md-47.col--lg-34
        h1.page-intro__title.page-intro__title--home
            span.page-intro__title.page-intro__title--home-big= labels.welcome
            span= labels.officefornationalstatistics
        p.page-intro__content.page-intro__content--home-big= labels.largestindependantproducerofofficalstatistics
